### 화면 입출력

#### 문자열 입출력

In [15]:
str_1 = input()

print(str_1)

moebs
moebs

In [16]:
name = input('이름을 입력하세요 : ')

print('당신의 이름은', name, '이군요')

이름을 입력하세요 : 정원호
당신의 이름은 정원호 이군요

#### 정수형 입출력

In [26]:
str_1 = input('정수를 입력하세요: ')

i = int(str_1)   # string -> numeric

정수를 입력하세요: 100

In [30]:
print(str_1)
print(type(str_1))

#print('\n')   # new-line (개행문자, 출바꿈문자)

print(str_1, type(str_1))      # 문자열 출력
print('입력한 수는' , str_1)

#print('\n')

print(i, type(i))               # 정수 출력
print('입력한 수는',i, 'type is', type(i))

100
<class 'str'>
100 <class 'str'>
입력한 수는 100
100 <class 'int'>
입력한 수는 100 type is <class 'int'>

In [ ]:
#### 실수형 입출력

In [32]:
str_1, str_2 = input('두 실수를 입력하세요: ').split()

f_1 = float(str_1)
f_2 = float(str_2)

두 실수를 입력하세요: 2.0 3.0

In [36]:
# Quiz_1


print('입력한 두 수는 :',)
print('두 수의 합은 :' , )
print('두 수의 곱은 :' , )
print('두 수의 차는 :' , )

입력한 두 수는 :
두 수의 합은 :
두 수의 곱은 :
두 수의 차은 :

In [68]:
# 세 수의 합 구하기

str_1, str_2, str_3 = input('세 실수를 입력하세요: ').split()

f_1 = float(str_1)
f_2 = float(str_2)
f_3 = float(str_3)

print('세 수의 합은 :' , f_1 + f_2 + f_3)

세 실수를 입력하세요: 1 2 3
세 수의 합은 : 6.0

### 반복문 필요성

In [43]:
print('강원도 삼척시 중앙로 1')
print('강원도 삼척시 중앙로 2')
print('...............')
print('강원도 삼척시 중앙로 346')

강원도 삼척시 중앙로 1
강원도 삼척시 중앙로 2
...............
강원도 삼척시 중앙로 346

In [54]:
address = list(range(1,11))

print(address)
print('\n')

for i in address: 
    print('강원도 삼척시 중앙로',i)

print('\n')    
    
for i in range(1, 11): 
    print('강원도 삼척시 중앙로',i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


강원도 삼척시 중앙로 1
강원도 삼척시 중앙로 2
강원도 삼척시 중앙로 3
강원도 삼척시 중앙로 4
강원도 삼척시 중앙로 5
강원도 삼척시 중앙로 6
강원도 삼척시 중앙로 7
강원도 삼척시 중앙로 8
강원도 삼척시 중앙로 9
강원도 삼척시 중앙로 10


강원도 삼척시 중앙로 1
강원도 삼척시 중앙로 2
강원도 삼척시 중앙로 3
강원도 삼척시 중앙로 4
강원도 삼척시 중앙로 5
강원도 삼척시 중앙로 6
강원도 삼척시 중앙로 7
강원도 삼척시 중앙로 8
강원도 삼척시 중앙로 9
강원도 삼척시 중앙로 10

In [69]:
#address = list(range(10))               # 0부터 10 미만 정수(10은 포함X)

#address = list(range( 2, 6))            # 2, 3, 4, 5 (6은 포함X)

#address = list(range(0, 10, 2))        # 0, 2, 4, 6, 8

#address = list(range(10, 0, -1))       # 10, 9, 8, 7, ….,1

address = list(range(1,10,2))           # 1, 3, 5, 7, 9 ( Quiz_2 ) 


print(address)

[1, 3, 5, 7, 9]

In [ ]:
# Quiz_3. 짝수/홀수 번지만 출력

for i in ???????: 
    print('강원도 삼척시 중앙로',i)

### 반복문 기본 구조

#### for 변수 in 리스트(또는 튜플, 문자열):(콜론)
#### (indent4칸)반복할 문장1
#### (indent4칸)반복할 문장2

In [57]:
for str_1 in ['mother','father','sister']: 
    print('사랑하는')
    print(str_1)

사랑하는
mother
사랑하는
father
사랑하는
sister

In [63]:
family_list = ['mother', 'father', 'sister'] 

for str_1 in family_list: 
    print('사랑하는')
    print(str_1)
    print('\n')

사랑하는
mother


사랑하는
father


사랑하는
sister

#### 1. for 문장 끝에 :(콜론)을 빠뜨리지 않았는지 확인

#### 2. for 다음 줄에 오는 반복할 코드의 들여쓰기(4칸) 확인

In [62]:
family_list = ['mother', 'father', 'sister'] 

for str_1 in family_list     # 콜론 없어서 에러
print('사랑하는')            # indent error
print(str_1)                  # indent error

SyntaxError: invalid syntax (<ipython-input-62-a9e02c864036>, line 3)

In [64]:
family_list = ['mother', 'father', 'sister'] 

for str_1 in family_list:    
    print('사랑하는')         
print(str_1)                # 들여쓰기가 안되어서 반복x

사랑하는
사랑하는
사랑하는
sister

### 반복문 응용

#### 합계계산

In [65]:
total = 0                 # 변수 초기화

for i in range(1, 11):   #  [1,2,3,4,5,6,7,8,9,10]
    total = total + i     # 1 ~10 까지 합계 구하기
    
print('합계 : ', total)

합계 :  55

In [67]:
total = 0
for i in [1,2,3,4,5,6,7,8,9,10]:  #  range(1, 11)
    total = total + i    
    print('누적합계 : ', total)

누적합계 :  1
누적합계 :  3
누적합계 :  6
누적합계 :  10
누적합계 :  15
누적합계 :  21
누적합계 :  28
누적합계 :  36
누적합계 :  45
누적합계 :  55

In [70]:
# Quiz_4. 자연수 n을 입력 받아 n까지 합계 구하기

In [75]:
str_1 = input('정수를 입력하세요: ')
n = int(str_1)

total = 0
for i in range(1, n+1): 
    total = total + i    
print('합계 : ', total)

정수를 입력하세요: 00
합계 :  0

#### Quiz_5

#### 한 학급 5명의 영어/수학 성적이
#### 아래와 같을 때, 학생 개인별 평균 점수를 구하고

#### 평균점수 기준 1등과 5등의 점수를 구하세요  

#### 영어성적 : 70, 85, 50, 95, 80
#### 수학성적 : 85, 65, 85, 55, 75

In [74]:
eng = [70, 85, 50, 95, 80] 
math = [85, 65, 85, 55, 75]
average = [0, 0, 0, 0, 0]

for i in range(0, 5):
    average[i] = ( eng[i] + math[i] ) / 2.0

print('평균점수 ',average)    

print('\n')

print('최고 평균 점수', max(average))

print('\n')

print('최저 평균 점수', min(average))

평균점수  [77.5, 75.0, 67.5, 75.0, 77.5]


최고 평균 점수 77.5


최저 평균 점수 67.5

#### Quiz_6

#### Quiz_5 번에 

#### 학생 2명 추가

#### 국어 성적 추가

#### 점수는 임의로넣으세요